.bg-image {
    background-image: url("../../public/MATERFRANCE.png");
    height: 100%;
    width: 100;
}

.counter {
    width: 100%;
    display: flex;
    
}

.title {
    margin: 0;
    font-size: 50px;
    text-decoration: underline;
}
.rig {
    font-size: 40px;
    text-align: center;

}

.livret{
    font-size: 38px;
}

.important{
    color: rgb(255, 0, 179);
}


#paragraph1 {
    margin: 340px 0px 0px 80px;
}
#paragraph2 {
    margin: 245px 0px 0px 73px;
    
}
#paragraph3 {
    margin: 382px 0px 0px 54px;
}
#paragraph4 {
    margin: 340px 0px 0px 91px;
}


